/*
 * Base scss for html document and the Vue App.
 *
 * Define layout and assign colors to elements that apply
 * for the Vue app AND the potential elements outside the Vue app.
 *
 * As of BS-5.1.3:
 * *, *::before, *::after is set to border-box.
 *
 */

html {
  font-size: 16px;
  font-size: 62.5%; /* -> 1rem ~ 10px */
}

body {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  font-size: 1.7rem;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--background-default);
}

/* Margin and padding reset. */
#app,
main,
header,
footer,
section,
aside,
nav {
  margin: 0;
  padding: 0;
}

